<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30"> <!-- 页面每隔30秒刷新一次 -->
    <title>Submission Status Counts for Problems</title>
</head>
<body>
<h1>每道题通过人数</h1>
    <iframe style="height: 700px; width:1000px" src="./bar_chart.html"></iframe>
<h1>每道题通过情况</h1>
    <iframe style="height: 500px; width:500px" src="./pie_chart_A.html"></iframe>
    <iframe style="height: 500px; width:500px" src="./pie_chart_B.html"></iframe>
    <iframe style="height: 500px; width:500px" src="./pie_chart_C.html"></iframe>
    <iframe style="height: 500px; width:500px" src="./pie_chart_D.html"></iframe>
    <iframe style="height: 500px; width:500px" src="./pie_chart_E.html"></iframe>

</body>
</html>
